body {
	margin: 0px;
	padding: 0px;
	position: relative;
}

ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.hidden {
	display: none;
}

.fixed {
	position: fixed;
}

input,textarea:focus {
	outline: none !important;
}

a{
	text-decoration: none;
}