@charset "UTF-8";
@import url("../inc/basic.css");


.category-sub button{
    margin-left: auto;
}

.height-30{
    height: 30px;
}

.width-60{
    width:60%;
}


/*modal-회원등록*/
#modal{
    display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

    #modal-close-button{
        cursor: pointer;
    }

    #modal .modal-content{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:1% auto;
        width:700px;
    }

    #modal input[type=text],
    #modal select,
    #modal textarea{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        width:100%;
    }

    #modal textarea{
        height: 100px;
    }

    #modal label {
        display: inline-block;
    }
    
    #modal .reg-box{
        margin-top:5px;
        text-align: end;
    }

        #modal-check{
            height: 40px;
            width: 100px;
        }

    #modal .col-25 {
        margin-top: 5px;
      }
    
    #modal .cancel-button{
        font-size:20px;
    }
    #modal .cancel-button:hover{
        cursor: pointer;
    }


/*modal3-메일전송*/

#modal3{
    display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}
    #modal3 .mail{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:2% auto;
        width:600px;
    }

    #modal3-check{
        width:100px;
        height: 40px;
    }

    #modal3 .reg-box{
        text-align: end;
    }

    #modal3 input[type=text],
    #modal3 select,
    #modal3 textarea{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        width:100%;
    }

    #modal3 textarea{
        height: 200px;
    }

    #modal3 label {
        display: inline-block;
    }

    #modal3 .col-25 {
        margin-top: 5px;
      }
    
    #modal3 .readonly{
    	background-color: #e6e6e6;
    }
    
    #modal3 .cancel-button{
        font-size:20px;
    }
    #modal3 .cancel-button:hover{
        cursor: pointer;
    }

    #modal3-close-button{
        cursor: pointer;
    }
    

/*modal4-회원정보보기*/
#modal4{
    display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

    #modal4 input[type='text']{
        background-color: #e6e6e6;
    }

    #modal4 textarea{
        background-color: #e6e6e6;
    }

    #modal4-close-button{
        cursor: pointer;
    }

    #modal4 .modal4-content{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:1% auto;
        width:700px;
    }

    #modal4 input[type=text],
    #modal4 select,
    #modal4 textarea{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        width:100%;
    }

    #modal4 textarea{
        height: 100px;
    }

    #modal4 label {
        display: inline-block;
    }
    
    #modal4 .reg-box{
        margin-top:5px;
        text-align: end;
    }

        #modal4-check{
            height: 40px;
            width: 100px;
        }

    #modal4 .col-25 {
        margin-top: 5px;
      }
    
    #modal4 .cancel-button{
        font-size:20px;
    }
    #modal4 .cancel-button:hover{
        cursor: pointer;
    }
