@charset "UTF-8";
@import url("../inc/basic.css");

#save-button{
	width:80px;
	height: 40px;
}

.table-bottom{
	text-align: right;
}

.thead td{
    height: 33px;
}

.explan{
    text-align: end;
}

.spinner{
	width: 20px;
    height: 15px;
    text-align: center;
}

.ui-spinner{
    height: 30px;
}































