@charset "UTF-8";
@import url("../inc/basic.css");


div>input[type='file']{
    display: none;
}

#save-button{
    width:60px;
    height: 30px;
    float: right;
}


.end-date{
    display: flex;
}
    .end-date span{
        line-height: 30px;
    }

.img-box{
    display: inline-block;
    height: 100px;
    border:1px solid #ccc;
    margin-top:5px;
}
    .img-box img{
        width:100%;
        height: 100%;
    }

.tbody{

}
    .tbody tr:hover{
        cursor: pointer;
        background-color: beige;
    }

    .tbody tr>td:nth-child(1){
        width:60px;
    }
    .tbody tr>td:nth-child(2){
        width:80px;
    }
    .tbody tr>td:nth-child(3){
        width:375px;
    }
    .tbody tr>td:nth-child(4){
        width:300px;
    }
    .tbody tr>td:nth-child(5){
        width:150px;
    }
    .tbody tr>td:nth-child(6){
        width:150px;
    }
    .tbody tr>td:nth-child(7){
        width:150px;
    }


/*파일첨부*/

.img-upload{
    color: #fff;
    background-color: rgb(255, 192, 203);
    border: 1px solid rgb(235,172,183);
    border-radius: 5px;
    height: 30px;
}





/* toggle버튼 */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    vertical-align:middle;
  }
   
    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5cb85c;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    label input:checked + .slider {
    background-color: #d9534f;
    }

    label input:focus + .slider {
    box-shadow: 0 0 1px #d9534f;
    }

    label input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    width:50px;
    height: 28px;
    }

    .slider.round:before {
    border-radius: 50%;
    }

    .tbody p {
    margin:0px;
    display:inline-block;
    font-size:15px;
    font-weight:bold;
    }

/*modal*/
#modal{
    display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}


    .modal-img-box{
        background-color: #fff;
        /* border:1px solid #ccc; */
        height: 300px;
        
    }

	#modal-img{
		width:100%;
		height: 100%;
	}

    #modal-close-button{
        cursor: pointer;
    }

    #modal .modal-content{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:1% auto;
        width:700px;
    }

    #modal input[type=text],
    #modal select,
    #modal textarea{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        width:100%;
    }

    #modal textarea{
        height: 150px;
    }

    #modal label {
        display: inline-block;
    }
    
    #modal .reg-box{
        margin-top:5px;
        text-align: end;
    }

        #modal-check{
            height: 40px;
            width: 100px;
        }

    #modal .col-25 {
        margin-top: 5px;
      }
    
    #modal .cancel-button{
        font-size:20px;
    }
    #modal .cancel-button:hover{
        cursor: pointer;
    }

/*modal3*/
#modal3{
    display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

    .modal3-img-box{
        background-color: #fff;
        border:1px solid #ccc;
        height: 200px;
        overflow: scroll;
    }
	
	#modal3-img{
		width:100%;
	}

    #modal3-close-button{
        cursor: pointer;
    }

    #modal3 .modal3-content{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin:1% auto;
        width:700px;
    }

    #modal3 input[type=text],
    #modal3 select,
    #modal3 textarea{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        width:100%;
    }

    #modal3 textarea{
        height: 150px;
    }

    #modal3 label {
        display: inline-block;
    }
    
    #modal3 .reg-box{
        margin-top:5px;
        text-align: end;
    }

        #modal3-check{
            height: 40px;
            width: 100px;
        }

    #modal3 .col-25 {
        margin-top: 5px;
      }
    
    #modal3 .cancel-button{
        font-size:20px;
    }
    #modal3 .cancel-button:hover{
        cursor: pointer;
    }