@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');
.mySlides{display:none;}
 #main {
      position: relative;
      height: auto;
      padding-top: 15px;
      margin-left: auto;
      margin-right: auto;
     /*  background-color: indianred; */

   }

   .banner {
      position: relative;
 
      height: 300px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
   }
   .banner img{
   	height: 300px;
   	width: 800px;
   }
   .main-icones {
      /* background-color: aquamarine; */
      height: auto;
      width: 800px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Do Hyeon', sans-serif;
      font-size: 20px;
      

   }
   .main-icones img{
      width: 100px;
      height:100px;
   }
   .top-icon, .top-icon ul,.bottom-icon, .bottom-icon ul { display:flex;}
   .top-icon{margin-bottom:50px;}
   .top-icon, .bottom-icon{ padding-left: 120px;}
   .bottom-icon {margin-bottom:20px;}
   .top-icon li, .bottom-icon li{
      margin-right: 60px;
   }
   .right-top-icon ul, .right-bottom-icon ul{
      padding-left: 0px !important;
    
   }
   .left-top-icontitle li, .right-top-icontitle li
   {
      margin-left: 28px;
   }
   .left-bottom-icontitle li, .right-bottom-icontitle li{
      margin-left: 20px;
   }
   .left-bottom-icontitle li:last-child{
      margin-left: 75px;
   }
   .right-bottom-icontitle li:last-child{
      margin-left: 53px;
   }
   .left-top-icontitle li:last-child{
      margin-left: 50px;
   }
   .right-top-icontitle li:last-child{
      margin-left: 40px;
   }

   .hotsellent-title{
      font-family: 'Sunflower', sans-serif;
      color: #002060;
      font-weight: bold;
      font-size: 35px;
      text-align: center;
   }
   .hotsellent-image{
      margin-top: 20px;
      margin-bottom: 20px;
      /* background-color: indianred; */
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      padding-left: 40px;
   }
   .hotsellent-image ul{
      display: flex;
      margin: 0px;
      padding: 0px !important;
      
      
   }
   /* .hotsellent-image ul:first-child{
      margin-left: 40px;
   } */
   .hotsellent-image li,.hotsellent-image li img{
      width: 160px;
      height: 160px;
      /* background-color: black; */
      margin-left: 0px;
      /* border-radius: 160px; */
      margin-left: 20px;
      
   }
   /* .hotsellent-image ul:last-child li:first-child{
      margin-left: 0px !important;
   } */
    .hotsellent-image li:first-child{
     /*  margin-left: 20px; */
   }

   #footer{
      background-color: #404040;
      height: 200px;
   }
   
   @media(max-width:480px){
      #header-wrap{
         /* background-color: aquamarine; */
         width: 100%;
      }

      .banner{
         /* background-color: aqua; */
         width: 90%;
         margin-left: 5%;
      }
      .banner img{
      	width: 100%;
      }
      
      .main-icones {width:90%; padding-left: 20px;} 
    .top-icon,.bottom-icon, .hotsellent-image { display: unset;}
    .left-top-icon, .right-top-icon, .left-bottom-icon, .right-bottom-icon
    {width:90%; margin-left:7%; margin-right: 3%;}
    .hotsellent-image-bottom{margin-top: 25px !important; margin-bottom:20px !important;}
     .hotsellent-image-top li:first-child,.hotsellent-image-bottom li:first-child{margin-left:0px !important;}
     
        }
        
@media(max-width:480px){
	.main-icones{
		width: 100%;
	}
}