@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');
#header {
	width: 100%;
      position: relative;
      background-color: #ffd632;
      height: 250px;
   }
a:link{text-decoration: none; color:#002060;}
a:visited{text-decoration: none; color:#002060;}
a:active{text-decoration: none; color:#002060;}
a:hover{text-decoration: none; color:gray;}
   #header-wrap {
      position: relative;
      height: inherit;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      background-color: #ffd632;
      color: #002060;
   }

   .hamburger {
   	  visibility: visible;
      position: absolute;
      right: 0px;
      margin-right: 15px;
      padding-top: 5px;
      transition: 500ms; 
   }
	#puticon{
		position: absolute;
		top:13px;
		height:15px;
		visibility: hidden;
		
	}
   .login {
      visibility:hidden;
      transition: 500ms; 
      position: absolute;
      margin-top:10px;
      margin-right: 10px;
      right: 0;
   }

   .login ul {
      display: flex;
      font-size:20px;
      font-family: 'Do Hyeon', sans-serif;

      
   }

   .login li {
      padding-right: 15px;
      cursor: pointer;
   }
.after-login {
	height: 50px;
	min-width: 100px;
	text-align: right;
}
.after-login span{
	font-size: 20px;
	display:inline-block;
	vertical-align:top;
	line-height:50px;
	height: 50px;
}
	.after-login img{
	height: 50px;
}

.after-login .my-menu{
	text-align:center;
	background-color: white;
	
	width: 100px;
	margin-left: auto;
	position: relative;
}

.after-login .my-menu ul{
	height: 140px;
	border: 1px solid black;	
	cursor: pointer;
}

.after-login .my-menu ul:before{
	content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: translateY(-55%) translateX(-50%) rotate(45deg);
}
.after-login .my-menu li{
	height: 30px;
	margin-top: 5px;	
}
.after-login .my-menu li:first-child{
	border-bottom: 1px dotted gray;
	
}

   .logo{
      font-family: 'Do Hyeon', sans-serif;
      font-size: 80px !important;
      text-align: center;
      padding-top: 25px;

   }
   
   .search input{
      padding-left: 15px;
      color: gray;
      font-weight: bold;
      height: 40px;
      border-radius: 10px;
      width: 600px;
      border: none;
      margin-top:30px;
      margin-left: 110px;
      /* background-color: pink; */
      
   }
   
   .after-login img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

   #main {
      position: relative;
      height: auto;
      padding-top: 15px;
      margin-left: auto;
      margin-right: auto;
     /*  background-color: indianred; */

   }
    input,textarea:focus {
			outline: none !important;
	}
	.profile{
		/*background-color: pink;*/
	}
      @media(max-width:480px){
	      #header-wrap{
	         /* background-color: aquamarine; */
	         width: 100%;
	      }
	      .search{
	      width:100%;
	      }
	      .search input{
	      margin-left:3%;
	      width:90%;
	      }
	      .hamburger{visibility: visible;}
	      .login{visibility: hidden;}
	     
      }
 