@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');

#header {
	position: fixed;
	top: 0;
	background-color: white;
	height: 160px;
	width: 100%;
	padding-top: 22px;
	z-index: 10;
	border-bottom: 2px solid rgb(255, 214, 51);
}

#header .top-header {
	width: 1200px;
	height: 55%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#header .logo-bar {
	display: flex;
	
	height: 50%;
}

#header .logo {
	width: 200px;
	height: 50px;
	font-family: 'Sunflower', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;

	
}

#header .member-menu {
	margin-left: auto;
	width: 200px;
	height: 50px;
	
}

#header .member-menu ul{
	display: flex;
	vertical-align: middle;
	line-height: 50px;
	
}

#header .member-menu .menu{
	width: 70px;
	text-align: center;
	font: #ffffff;
}

#header .member-menu a{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	color: #000000;
}

#header .search-bar {
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	overflow: hidden;
	vertical-align: middle;
	line-height: 50px;
}

#header .search-bar input {
	position: absolute;
	top:6px;
	margin-left: 20%;
	width: 400px;
	padding-left: 15px;
	color: gray;
	font-weight: bold;
	height: 35px;
	border-radius: 10px;
	border: none;
	background-color: rgb(255, 214, 51);
	
	/* background-color: pink; */
}


@media ( max-width :480px) {
	#header .top-header {
		background-color: green;
		width: 100%;
	}
	
	#header .search-bar {
		position: relative;
	}
	#header .search-bar input {
		width: 100%;
		margin-left: 0px;
	}
	
	
	
	
}