.aside {
	min-width: 300px;
	background-color: blue;
}

.aside-category-list {
	background-color: whitesmoke;
}

@media ( max-width :480px) {
	.aside {
		position: fixed;
		min-width: 300px;
		left: -100%;
		background-color: blue;
	}
}