@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');

#header .bottom-header {
	font-size: 23px;
	font-family: Do Hyeon; 
	width: 1200px;
	background-color: white;
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.bottom-header ul{
	display: flex;
	height: 53px;
}

.bottom-header ul>li{
	width: 132.5px;
	text-align: center;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.bottom-header .ct-menu{
	width: 1080px;
}

.bottom-header .ct-menu ul>li>div:first-child{
	margin-top: 5px;
	margin-bottom: 16px;
}

.bottom-header .arrow{
	width: 50px;
}

.header-sub-category{
	display: flex;
	background-color: white;
	border: 2px solid rgb(255, 214, 51);
	border-top: none;
	font-size: 15px;
	
}
.header-sub-category>div{
	width: 100%;
}
.header-sub-category>div a{
	display: block;
	margin-bottom: 3px;
	margin-top: 3px;
	
}



@media ( max-width :480px) {
	#header .bottom-header {
		background-color: white;
		width: 100%;
		height: 33px;
	}
	
	.bottom-header ul{
		height: 33px;
	}
	
	.mobile-hidden{
		display: none!important;
	}
	
	.visual-hidden{
		visibility: visible;
	}
	
	.bottom-header .ct-menu{
		width: 80%;
		
	}
	.bottom-header .ct-name>div:first-child{
		margin-top: 6px!important;		
		margin-bottom: 6px!important;		
	}
	
	.bottom-header .arrow{
		width: 10%;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 6px;
	}

}