#header .bottom-header {
	
	width: 1200px;
	/* background-color: pink; */
	height: 55px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-header ul{
	display: flex;	
}

.bottom-header li{
	width: 137.5px;
	text-align: center;
	line-height:50px;	
	/* background-color:black;
	color:white; */
	font-size:23px;
	font-weight:bold;
}

.bottom-header li:hover{
	background-color: #ffd632;
	border-radius:20px;
	color:white;
	font-size:25px;
}

.bottom-header .arrow{
	width: 50px;
}


@media ( max-width :480px) {
	#header .bottom-header {
		background-color: white;
		width: 100%;
	}

}