 @import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');
 
 #main {
      position: relative;
      height: auto;
      padding-top: 15px;
      margin-left: auto;
      margin-right: auto;
     /*  background-color: indianred; */

   }
   .findId, #idFind, .findPwd, #pwdFind{
    /*   background-color: #002060; */
      width: 800px;
      margin-left: auto;
      margin-right: auto;
   }
   .findId div:first-child, .findPwd div:first-child{
      background-color: #ffd632;
      border: none;
      border-radius: 8px;
      height: 40px;
      margin-left: 50px;
      margin-top: 20px;
      width: 700px;
      line-height: 35px;
      font-size: 20px;
      color: white;
      font-weight: bold;
      padding-left: 10px;
   }
   .findId input, .findPwd input{
      height: 40px;
      margin-left: 50px;
      margin-top: 20px;
      width: 700px;
      border-radius: 8px;
      border: 1.3px solid #404040;
      padding-left: 15px;

   }

   #idFind input, #pwdFind input{
      background-color:#ffd632;
     width: 100px;
     margin-left: 660px;
     margin-top: 10px;
     border-radius: 8px;
     border: none;
     height: 30px;
     color: white;
     font-size: 18px;
     font-weight: bold;
     
   }
   #pwdFind{
      margin-bottom: 20px;
   }
   #footer{
      background-color: #404040;
      height: 200px;
   }
   
/*modal*/
.modalFind { 
 overflow:hidden;
 position: fixed; 
 left: 0; 
 top: 0; 
 width: 100%; 
 height: 100%; 
 background-color: rgba(0, 0, 0, 0.5); 
 opacity: 0; 
 visibility: hidden; 
 transform: scale(1.1); 
 transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
} 
.modalFind .modal-content { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1rem 1.5rem; 
    width:10%; 
    height: 22%; 
    border-radius: 0.5rem; 
} 
.close-button { 
    position: absolute;
    right: 0;    
    top:0px;
    width: 1.5rem; 
    line-height: 1.5rem; 
    text-align: center; 
    cursor: pointer; 
    border-radius: 0.25rem; 
    background-color: lightgray; 
} 
.close-button:hover { 
    background-color: darkgray; 
} 
.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
.pwdInput{
	position: relative;
}
.newPwd{
	margin-top:20px;
	width: 90%;
	height: 30px;
	border-radius: 8px;
	border:1px solid ;
	margin-bottom: 20px;
	margin-left:10px;
	padding-left:15px;
}
.newpwdChk{
	width: 90%;
	height: 30px;
	border-radius: 8px;
	border:1px solid ;
	margin-bottom: 10px;
	margin-left:10px;
	padding-left:15px;
}
.warning{
	visibility:hidden;
	min-width:90%;
	margin-left:10px;
	min-height:20px;
	font-size: 13px;
}
.changeBtn{
	margin-top:10px;
	margin-left:13px;
	width:90%;
	height: 40px;
	background-color: #ffd632;
	color:white;
	text-align: center;
	border-radius: 8px;
	border:none;
}
.notID{
	position:absolute;
	visibility:hidden;
	width:90%;
	height: 50%;
	top:0px;
	margin-top:80px;
	font-size:20px;
	font-weight:bold;
	text-align: center;
	margin-left: 20px;
}
 /* modal end  */  
   
   
   
   
   @media(max-width:480px){
      #header-wrap, .idPw, #login,.buttones{

         width: 100%;
      }

    .search input{
         width: 90%;
         margin-left: 20px;
      }
      .findId, .findPwd, #idFind, #pwdFind{
         width: 100%;
         
      }
      #idFind input,  #pwdFind input{
         
         margin-left: 70%;
      }

      .findId div:first-child, .findPwd div:first-child, .findId div input, .findPwd div input{
         /* background-color: #002060; */
         width: 90%;
         margin-left: 5%;
         margin-right: 5%;
      }

      
        }