@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Sunflower:300');


#main {
   position: relative;
   height: auto;
   padding-top: 15px;
   margin-left: auto;
   margin-right: auto;
}
#wrap{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	min-height: 500px;
	border:1px solid #8f939d;
}
.basic{
	width:790px;
	margin-left:10px;
	border-bottom: dotted #d3d3d3;
	
}
.introduce{
	width:790px;
	margin-left:10px;
	min-height:400px;
}
.head-title{
	width:inherit;
	min-height:50px;
	font-size:30px;
	line-height:50px;
	color:#ffd632;
    font-family: 'Do Hyeon', sans-serif;
}
.profile{/* width:inherit; */ min-height: 150px; display:flex;}
.profile img{
	width:150px;
	height: 150px; 
	margin-left:325px; 
	border-radius: 100%;
	border:1px solid;
}

.plus{
	width:150px;
	height: 150px; 
	font-weight: bold;
	border-radius: 100%;
	opacity: 0.7;
	color:white;
	background-color:black;
	border:none;
	position:absolute;
	margin-left:325px; 
	border:1px solid;
	z-index: 30;
	font-size:80px;
	line-height:130px;
	text-align: center;
	
}
.pwch{
	position: relative;
}
#warning{

	font-size: 13px;
	padding-left: 10px;
	margin-bottom: 20px;
	position: absolute;
	right:60px;
	top:10px;
}
#hidden {
	display: none!important;
}
.twobind, .threebind, .ttwobind{width:inherit; display: flex; margin-top:20px;}
.sub-title{ width:180px; height:30px; font-size:20px; font-weight: bold; margin-left:25px;direction: rtl;}
.twobind input,.threebind input{margin-left:5px; width:400px; border-radius: 8px; border:1px solid #8f939d;}
.ttwobind textarea{margin-left:5px; width:400px; border-radius: 8px; border:1px solid #8f939d; min-height: 250px;}
.threebind input:first-child{margin-left:5px; margin-right:5px; border-radius: 8px; border:1px solid #8f939d;height: 30px;}
.threebind input:last-child{background-color: gray; width:80px; color:white;  font-family: 'Do Hyeon', sans-serif; font-size:15px;}
.email, .tech{margin-bottom: 10px;}
#join{
	width:800px;
	min-height:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom: 20px;
	
}
#join input{
	width:600px;
	height:50px;
	margin-left: 100px;
	color:white;
	font-size: 25px;
	font-weight: bold;
	background-color: #ffd632;
	border-radius: 8px;
	border:none; 
}
   .emailchk{
   	display:none;
   	margin-bottom: 20px;
   }
@media ( max-width :480px) {
	#main{width:98%;}
	#wrap, #joinbtn{width: 100%;}
	.basic, .introduce, .head-title{width:auto}
	.twobind, .threebind, .ttwobind{width:auto; display: unset;}
	.sub-title{margin-bottom: 5px; margin-top:10px; direction: ltr; margin-left: 3%;}
	.twobind input{width:90%; margin-left:4%; height: 30px;}
	.threebind div:last-child{display:flex;}
	.name input{width:70% !important;}
	.threebind div:last-child input:first-child {width:83%; margin-left:4%;}
	.threebind div:last-child input:last-child {width:75px;margin-left:0% !important; margin-right: 15px;}
	.email div:last-child, .emailchk div:last-child, .tech input{margin-bottom: 20px;}
	.ttwobind textarea {width:90%; margin-left:4%;}
	.profile{width:100%;}
	.profile img{margin-left:4%;}
	.plus{margin-left:1.8%;}
	.warning{visibility: hidden;}
	#join input{width: 90%; margin-left:5%;}
}

	
  	
