@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');
.menu-button {
	position: fixed;
	top: 300px;
	left: 0%;
	height: auto;
	display: none;
	z-index: 10;
}

.menu-button input {
	background-color: orange;
	border: none;
	height: 60px;
	width: 25px;
	color: white;
	font-weight: bold;
	
}
#top-content{
	display:flex;
	width:900px;
	height:60px;
	margin-top:20px;
	/* background-color:pink; */
	border-bottom: 1px solid #686565;
}
.content{
	width:900px;
}

.small-title{
	margin-left:20px;
	padding-right:70%;
	line-height:90px;
	font-size:15px;
	font-family: 'Do Hyeon', sans-serif;
	color:#a5a1a1;

	
}
.select{
	margin-top:25px;
}
.select select{
	width:70px;
	height:25px;
	border:1px solid gray;
	font-family: 'Do Hyeon', sans-serif;
	font-size:13px;
	padding-left:5px;
	padding-top:2px;
	margin-left:80px;
	border-radius:8px;
}
select:focus {
 outline: none !important;
}
#main-content{
	width:900px;
	/* border:1px solid black; */
	/* height:500px; */
	margin-top:20px;
}
.contents{
	display:flex;
	margin-bottom:20px;
}

.title-img{

	margin-left:60px;
	width:260px;
	height:200px;
	box-sizing: border-box;
	overflow: hidden
/* 	margin-left:10px; */
}
.title-img img{
	width: 100%;
	height: 100%;
}
.detail{
	margin-left:10px;
	width:500px;
	height:198px;
	border:1px solid black;
	padding-left:10px;
}
#page{
	/* background-color:pink; */
	margin-top:55px;
	text-align: center;
	
}
#page ul{
	display:inline-flex;
}
#page li{
	margin-right:10px;
	font-size:20px;
}
#page li:last-child{
	margin-right:0px;
}

.prolike{
	visibility:hidden;
	padding-left:450px;
	padding-top:10px;
/* 	padding-bottom:10px; */
	
}
.prolike img{ heihgt:20px; width:20px;}
.prolike .fa-heart{
	color: #CCCCCC;
	font-size: 30px;
}
.prolike .fav{
	color:#fe7676;
}
.protitle{
	font-size:18px; font-weight:bold; margin-left:15px; width:450px;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
	}
.detail-data{
	position:relative;
	width:auto;
	margin-left:15px;
	display:flex;
	margin-top:35px;
	color:gray;
	 
}
.proedit, .promake, .won, .won-star, .star-point{display:flex; }
.proedit{margin-right:15px;}
.proedit-img, .promake-img, .won-img{margin-right:7px;}
.proname{position:relative; right:10px;}
.proname{position: absolute;}
.proedit div:last-child, .promake div:last-child{margin-left:10px;}
.won{padding-left:10px;  margin-top:5px; position:relative; margin-right:270px;}
.won-star{ margin-top:20px;}


@media ( max-width :480px) {
	.select{
		margin-right: 10px;
	}
	.mobile-block{
		display: block;
		
	}
	.content{width:100%;}

	#top-content{
		width:100%;
	}
	 .small-title {
	 width:100%;
	 padding-right:0px;
	 }
	 #main-content{width:100%;}

 	.contents{
		display: block;
		width: inherit;
		box-sizing: border-box;
		padding-bottom: 20px;
		
		border-bottom: 1px solid black;
	}
	
	
	.title-img{
		width: 90%;
		height: auto;
		margin-left: 5%;
		box-sizing: border-box;
	}

	
	
	.detail{
		width: 90%;
		height: 250px;
		margin-left: 5%;
		padding-left: 0px;
		background-color: white;
		z-index: 5;
		position: relative;
		font-size: 18px;
	}
	
	.detail-data{
		position: static;
		display: inline-block;
	}
	
	.prolike{
		padding-left: 0px;
		position: absolute;
		right: 5%;
	}
	.protitle{
		margin-top:50px;
		width: 90%;
		margin-left: 5%;
	}
	
	.proname{
	
		left: 5%;
		text-align: right;
		margin-bottom: 10px;
	}
	
	.won{
		margin-right: 0px;
	}
	
	.won-star{
		margin-top: 25px;
	}
	.star-point{
		margin-left: auto;
		margin-right: 5%;
	}

}

