@charset "UTF-8";
@import url("../inc/basic.css");

/*----modal-게시판편집-----------------------------*/
#modal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
	display: none;
}

.modal-content{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin:5% auto;
	width:700px;
	border:1px solid #ccc;
}

	.cancel-box{
		text-align: end;
	}
		.cancel-box span{
			cursor: pointer;
		}

	.category-edit{
		border:1px solid #ccc!important;
		height: 400px;
		overflow: scroll;
		width:100%;
	}
	
		.group-name{
			padding-right: 5px;
		}
		.group-name:hover{
			background-color:#ccc;
		}

		/* .category-list{
			display: none;
		} */

		.category-name{
			font-size: 15px;
			padding-right: 5px;
			padding-left:30px;
		}
		.category-name:hover{
			background-color:#ccc;
		}
	

	.remove-button{
		float: right;
		font-size: 10px;
		display: none;
		line-height: 30px;
	}

	.remove-button:hover{
		cursor: pointer;
	}

	.input-box-container{
		width:100%;
		margin-left: 10px;
	}


	.flex-box{
		display: flex;
		margin-top: 10px;
	}

	fieldset{
		border:1px solid #ccc;
		padding:10px;
	}

	.input-box{
	}
	
		.input-box label{
			width:100px;
			border:1px solid #ccc;
			text-align: center;
		}

		.input-box input{
			padding:5px;
		}

	.reg-box{
		text-align: end;
		margin-top:5px;
	}

		.reg-box button{
			height:40px;
			width:100px;
		}

/*--------------modal2-삭제확인-------------------*/
#modal2{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
	display: none;
}

.modal2-content{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin:15% auto;
	width:400px;
	border:1px solid #ccc;
}

	.modal2-content h1{
		font-size: 20px;
		text-align: center;
	}

	.modal2-checkbox{
		text-align: center;
		margin-top:20px;
	}
		.modal2-checkbox button{
			width: 60px;
			height: 30px;
		}


/*-------------modal3-카테고리수정---------------*/
#modal3{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
	display: none;
}

.modal3-content{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin:5% auto;
	width:600px;
	border:1px solid #ccc;
}

	.edit-before input[type='text']{
		background-color: #eee;
	}

	.edit-before label,
	.edit-after label{
		width: 100px;
		border: 1px solid #ccc;
		text-align: center;
	}
	
	.modal3-checkbox{
		margin-top:5px;
		text-align: end;
	}
		.modal3-checkbox button{
			height: 40px;
			width:80px;
		}
