@charset "UTF-8";
@import url("../inc/basic.css");

.sm-button{
	width:40px;
}

/*-----button-size------------------------------*/
.button-size{
	width:80px;
}

/*category-list*/
.td-last{
	width: 200px;
}



/*----category-edit-----------------------------*/
#modal{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

#modal input{
	cursor: pointer;
}

.category-box{
	background:#fefefe;
	width:60%;
	margin:5% auto;
	border: 1px solid #ccc;
	padding:20px;
}

.close{
	font-weight: bold;
	color:rgb(204, 204, 204);
	float: right;
	font-size: 20px;
}

.close:hover{
	cursor: pointer;
}

.sm-button{
	width:50px;
	height:40px;
}

.md-button{
	width:100px;
	height: 60px;
}

.ml{
	margin-left: 10px;
}

.mt{
	margin-top: 10px;
}


.family-box{
	display: flex;
}

.family-box label{
	font-weight: bold;
}

.parent-box, .child-box{
	margin:auto;
}

.parent-content, .child-content{
	display: flex;
}

.parent-category, .child-category{
	width:300px;
	height:500px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.parent-category li, .child-category li{
	padding-left: 10px;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ccc;
}

.parent-category li:hover,
.child-category li:hover{
	cursor: -webkit-grab;
}

.parent-direction, .child-direction{
	margin-left:10px;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align: middle;
}

.parent-direction input, .child-direction input{
	display: block;
}

.parent-check, .child-check{
	margin-top:10px;
	width:300px;
	text-align: center;
}

.box-check{
	margin-top:20px;
	text-align: center;
}


/*--------category-add-----------------------------*/

.parent-category-add,
.child-category-add{
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding:20px;
	width:20%;
	background:#fefefe;
	margin:20% auto;
}

#modal2{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 6;
}

#modal3{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 6;
}


#modal4{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 10;
}

.delete-button{
	
}

.delete-check{
	border: 1px solid #ccc;
	padding:10px;
	width:25%;
	background:#fefefe;
	margin:20% auto;
}

.delete-check>div{
	margin-top:10px;
}

.delete-check button{
	width:60px;
}


