@charset "UTF-8";
@import url("../inc/basic.css");

.state-ok{
    color:red;
}

label{
	height: 100%;
}

#modal{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
}

.modal-content{
	background:#fefefe;
	padding:20px;
	width:700px;
	margin:3% auto;
	border: 1px solid #ccc;
}

.modal-content h1{
	text-align: center;
}

.border-top{
	border-top:1px solid #ccc!important;
}

.border-bottom{
	border-bottom:1px solid #ccc!important;
}

.customer-info{
	margin-top:10px;
}

	.customer-info label{
		width:150px;
		background-color:#e6e6e6;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		padding:10px;
	}

	.customer-info div{
		border-top:1px solid #ccc;
		border-right: 1px solid #ccc;
	}

.customer-content{
	margin-top:20px;
}

	.customer-content .admin-answer{
		margin-top:20px;
	}

	.question textarea{
		background-color:#e6e6e6;
		height: 150px;
		border:1px solid #ccc;
		resize:none;
	}

	.admin-answer textarea{
		border:1px solid #ccc;
		height: 150px;
		width:100%;
		resize:none;
	}

.reg-box{
	text-align: end;
	margin-top:5px;
}

	.reg-box button{
		height:40px;
		width:100px;
	}
