@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');

.back-ground{
	background-color: black;
	opacity: 0.7;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	width: 100%;
	height: 100%;
}

.menu-button {
	position: fixed;
	top: 300px;
	left: 0%;
	height: auto;
	display: none;
	z-index: 10;
}

.menu-button input {
	background-color: orange;
	border: none;
	height: 60px;
	width: 25px;
	color: white;
	font-weight: bold;
	
}

.content {
	
	width: 900px;
	background-color: white;
	position: relative;
	margin-top: 20px;
}

.content .breadcrumb{
	height: 25px;
	margin-left: 20px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 15px;
	color: #a5a1a1;
}

.content .top-right-content {
	margin-left: auto;
}

.top-right-content input{
	vertical-align: middle;
	line-height: 25px;
}

.content label {
	position: absolute;
	left: 10px;
	top: 10px;
}

.content .top-content {
	display: flex;
	padding-top: 30px;
	height: 60px;
	border-bottom: 1px gray solid;
	box-sizing: border-box;
}

.top-content input{
	font-family: 'Do Hyeon', sans-serif;
	font-size:13px;
	border: 1px solid gray;
	background-color: white;
	 height:25px;
	 border-radius:8px;
	 vertical-align: middle;
	line-height: 25px;
}

.top-content select{
   width:70px;
   height:25px;
   border:1px solid gray;
   font-family: 'Do Hyeon', sans-serif;
   font-size:13px;
   padding-left:5px;
   padding-top:2px;
   border-radius:8px;
   vertical-align: middle;
	line-height: 25px;
}


select:focus {
 outline: none !important;
}

#main-content{
	width:900px;
	/* border:1px solid black; */
	/* height:500px; */
	margin-top:20px;
}
.contents{
	display:flex;
	margin-bottom:20px;
}

.title-img{

	margin-left:60px;
	width:260px;
	height:200px;
	box-sizing: border-box;
	overflow: hidden
/* 	margin-left:10px; */
}
.title-img img{
	width: 100%;
	height: 100%;
}

.detail{
	margin-left:10px;
	width:510px;
	height:198px;
	border:1px solid black;
	padding-left:10px;
	box-sizing: border-box;
	
}

.like{
	
	padding-left:450px;
	padding-top:15px;
	
}
.like img{
	heihgt:20px; width:20px;
}

.like .fa-heart{
	color: #CCCCCC;
	font-size: 30px;
}

.like .fav{
	color:#fe7676;
}

.title{
	font-size:18px; 
	font-weight:bold; 
	margin-left:15px; 
	width:450px;
	height: 50px;
}

.detail-data{
	position:relative;
	width:auto;
	margin-left:15px;
	display:flex;
	margin-top:20px;
	color:gray;
	 
}

.edit,
.make,
.won,
.won-star,
.star-point{
	display:flex; 
}

.edit{
	margin-right:15px;
}
.edit-img, 
.make-img, 
.won-img{
	margin-right:7px;
}
.name{
	position:absolute; 
	right: 25px;
}
.edit div:last-child, 
.make div:last-child{
	margin-left:10px;
}
.won{
	padding-left:10px;  
	margin-top:5px; 
	position:relative; 
	margin-right:270px;
}
.won-star{ 
	margin-top:10px;
}


.bottom-content input{
	width: 780px;
	height: 40px;
	margin-left: 60px;
	margin-bottom: 40px;
	background-color: white;
	border: 0.5px solid gray;
}



@media(max-width :480px) {
	
	.mobile-block{
		display: block;
		
	}
	
	.content{
		width: 100%;
		margin-top: 0px;
	}
	
	#main-content{
		width: 100%;
	}
	
	.contents{
		display: block;
		width: inherit;
		box-sizing: border-box;
		padding-bottom: 20px;
		
		border-bottom: 1px solid black;
	}
	
	
	.title-img{
		width: 90%;
		height: auto;
		margin-left: 5%;
		box-sizing: border-box;
	}
	
	.detail{
		width: 90%;
		height: 250px;
		margin-left: 5%;
		padding-left: 0px;
		background-color: white;
		z-index: 5;
		position: relative;
	}
	
	.detail-data{
		position: static;
	}
	
	.like{
		padding-left: 0px;
		position: absolute;
		right: 5%;
	}
	.title{
		margin-top:50px;
		width: 90%;
		margin-left: 5%;
	}
	
	.name{
		top: 15px;
		left: 5%;
	}
	
	.won{
		margin-right: 0px;
	}
	
	
	.star-point{
		margin-left: auto;
		margin-right: 5%;
	}
	
	.bottom-content input{
		width: 90%;
		margin-left: 5%;
	}
}