.search-result{
	height: 50px;
	display: flex;
}


.search-result label{
	border-bottom: 1px solid;
	font-size: 30px;
	position: relative;
	left: 0px;
	top: 0px;
}

.search-result div{
	margin-left: 10px;
	vertical-align: bottom;
}
.search-result div span{
	
	line-height: 50px;
	
}


