@import url(header.css);
@import url(aside.css);
@import url(footer.css);
@import url(topContent.css);

.tr-hover:hover{
	cursor: pointer;
	background-color: rgb(249, 233, 171);
}

.loding-bar{
	bottom: 400px;
	margin-left: 50%;
	z-index:10;
}

#datepicker, #datepicker2{
	width:120px;
}

.ui-datepicker-trigger{
	height: 30px;
	width: 30px;
}

.ui-datepicker-trigger:hover{
	cursor: pointer;
}

input[type="checkbox"]{
    height: 18px!important;
    width: 18px!important;
}

/*-----margin----------------------*/
.mg-top-10{
	margin-top:10px;
}

.mg-top-5{
	margin-top:5px;
}

.mg-left-5{
	margin-left: 5px;
}

.mg-right-5{
	margin-right: 5px;
}

/*-----border-----------------*/
.bd-top-none{
	border-top:none!important;
}

/*-----text-------------------*/
.text-align{
	text-align: center;
}

/*-----너비 관련---------------------*/
.w-60{
	width:60px;
}

.w-100{
	width:100px;
}

.w-150{
	width:150px;
}

.w-200{
	width:200px;
}

.w-250{
	width:250px;
}

/*----클래스 세팅-------------------*/
.flex{
	display: flex;
}

.border-box{
	box-sizing: border-box;
}

.hidden{
	display: none!important;
}

/*----태그 세팅--------------------*/
h1,input,html,input,select,label,p,legend,ul,li {
	padding: 0px;
	margin: 0px;
}

ul, li {
	list-style: none;
}

label,input,button{
	height: 30px;
	padding:5px;
}

select{
	height: 30px;
}

legend{
	display: inline-block!important;
	width:auto!important;
	font-size:18px!important;
	font-weight: bold;
}

button{
	padding: 2px 6px 2px 6px!important;
	width:max-content;
}

input, select, textarea{
	border:1px solid #ccc;
	box-sizing:border-box;
}

a{
	display:inline-block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
	box-sizing: border-box;
}

a:hover{
	color:white;
	text-decoration: none;
}

h1{
	font-family: 'Sunflower', sans-serif;
}

body {
	font-size:16px;
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: '고딕', sans-serif;
	background:#fff;
}



/*---basic-settiong----------------*/

#center {
	display:flex;
}

.content {
	width:1300px;
}

#main{
	padding:10px;
	min-height:600px;
}

/*---header-------------------------*/



/*--table--------------------------*/
input[type="checkbox"]{
    width: 16px;
    margin-top: 6px;
}

/*-----content-box-----------------------------*/
.content-box{
	padding:5px;
	background: #eee;
	border: 2px solid #ccc;
	box-sizing: border-box;
	min-width:1280px;
}

/*------condition-form-------------------*/
.condition-form{
	display:flex;
	border:1px solid #ccc;
}

	.condition-title{
		height: auto;
		width:150px;
		border-right: 1px solid #ccc;
		background-color: #ddd;
		line-height: 30px;
	}

	.condition-content{
		display:flex;
		padding:5px;
	}

/*-----search-form---------------------------*/
.search-form{
	text-align: center;
	margin-top:5px;
}
	.search-form button{
		width:200px;
		height: 40px;
	}


/*-----table-top-----------------------------*/
.table-top{
	margin-top:10px;
	display:flex;
}
	.table-top button{
		margin-left: auto;
		height: 30px;
	}

/*------category-list-table---------------------*/
.table-main{
	border-collapse: collapse;
	border:1px solid #ccc;
	margin-top:5px;
	width:100%;
	table-layout: fixed;
	white-space: nowrap;
}

	.thead{
		color:white;
		background:rgb(78, 75, 75);	
	}

	.thead tr{
		height: 35px;
	}

	.tbody td{
		height: 38px!important;
	}

	.table-main td{
		text-align: center;
		border:1px solid #ccc;
		padding:2px;
		text-overflow: ellipsis;
		overflow: hidden; 
	}

	.table-main td button{
		min-width: 50px;
	}


/*----table-bottom--------------------------*/
.table-bottom{
    padding-top:5px;
}
	.table-bottom button{
		height: 30px;
	}


/*------paging----------------------------------*/
.paging{
	text-align:center;
}

	.paging-box{
		margin-top:10px;
		display:inline-block;
	}

	.paging-box li{
		display:inline-block;
		border: 1px solid #ccc;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
	}

	.paging-box a{
		font-weight:bold;
		color:#ccc;
	}


	.paging-box a:hover{
		font-weight: bold;
		Background-color:#fff;
		color:rgb(63, 99, 191);
	}

.strong{	
	Background-color:#fff;
	color:rgb(63, 99, 191)!important;
	font-weight: bold!important;
}
	

/*----modal공용------------------------*/
.cancel-box{
	text-align: end;
}
	.cancel-box span{
		cursor: pointer;
	}




/*-----modal2----------------------*/
#modal2{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 5;
	display: none;
}

.modal2-content{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin:15% auto;
	width:400px;
	border:1px solid #ccc;
}

	.modal2-content h1{
		font-size: 20px;
		text-align: center;
	}


	.modal2-checkbox{
		text-align: center;
		margin-top:20px;
	}
		.modal2-checkbox button{
			width: 60px;
			height: 30px;
		}
