#header {
	background-color: rgb(255, 214, 51);
	width: 100%;
	font-family: 'Do Hyeon', sans-serif;
}

.top-header {
	width: 1550px;
	position: relative;
}

.logo-bar {
	margin-left:50px;
    display: flex;
}

.logo {
	display:flex;
}

.main-title{
	font-size: 40px;
}

.sub-title{
	font-size: 20px;
	line-height: 60px;
}

.member-menu {
	line-height:50px;
	margin-left:auto;
	margin-right: 30px;
}

.bottom-header {
	width: 1550px;
}

.bottom-header-menu{
	display: flex;
	height: 100%;
}

.bottom-header-menu li{
	height:50px;
	line-height:50px;
	width: 120px;
    text-align: center;
    font-size:20px;
}

.bottom-header-menu a:hover{
	background-color: rgb(235, 194, 31);
}

.first-list{
	width:250px!important;
}


/*-----hover시 하위목록 보이기------*/

.bottom-header-menu ul
{
	display:none;
	position:relative;
	padding:0;
	border:1px solid rgb(255, 214, 51);
	background-color: #fff;
}

.bottom-header-menu li:hover > ul
{
	z-index: 100;
	display:block;
}

.bottom-header-menu li li{
	height: 35px;
	line-height: 35px;
}

.bottom-header-menu li ul a:hover{
	color:#333!important;
	background-color:rgb(255, 214, 51)!important;
}



