@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');
.menu-button {
	position: fixed;
	top: 300px;
	left: 0%;
	height: auto;
	display: none;
	z-index: 10;
}

.menu-button input {
	background-color: orange;
	border: none;
	height: 60px;
	width: 25px;
	color: white;
	font-weight: bold;
	
}
.profile-box{
	width:800px;
	height:280px;
	margin-top:70px;
	border-top:2px solid #686565;
	border-bottom: 1px solid #d3d3d3;
	padding-top:15px;

}
.profile-box img{
	width:200px;
	height: 200px !important;
	border-radius:100px;
	margin-left:300px;
}
.profilebtn{
	display: flex;
	height: 30px;
	margin-top:10px;
	margin-left:325px
}
.profilebtn2{
	visibility: hidden;
}
.profilebtn input{
	width:80px;
	border-radius:8px;
	border:none;
	background-color:#7F7F7F;
	margin-left:3px;
	color:white;
	font-size:13px;
	font-weight: bold;
}

.edit-info{
	margin-left: 100px;
}
.edit-info div{
	display:flex; 
	margin-top:15px;
	font-size:20px;
}
.Input{
	padding-left: 10px;
}

.edit-info input{
	border-radius: 8px;
	border:1px solid #7f7f7f;
	width: 300px;
	height:28px;
	margin-left: 20px;
}
.title{
	width:180px;
	text-align:right;
	font-weight:bold;
	color:#686565;	
}
.email div:last-child input:last-child, .emailchk div:last-child input:last-child {
	width:80px;
	border:none;
	margin-left:5px !important;
	background-color: #ffd632;
	color:white;
	font-weight: bold;
}
.emailchk div:last-child input:last-child {
	font-size:18px !important;	
}

.complete{
	margin-top: 50px;	
	border-bottom:2px solid #686565;
	padding-bottom: 50px;
}
.complete input{
	height:50px;
	width:500px;
	border:none;
	margin-left:180px;
	background-color: #ffd632;
	color:white;
	font-weight: bold;
	border-radius: 8px;
}
#warning{
	display:none;
	font-size: 13px;
	margin-left:380px;
	padding-left: 10px;
	right:60px;
	margin-top:10px;
}
@media ( max-width :480px) {
	.mobile-block{display: block;}
	.title{direction: ltr; width: auto; margin-left:5%;}
	.nickname, .new-pwd, .new-pwdchk, .email{display: unset !important;}
	.content{width: 100%;}
	.profile{width: 100%;}
	/* .profile img{margin-left:20%;} .profilebtn{margin-left:24%;} */
	.edit-info{width:100%; margin-left:0px;}
	.complete{width: 100%}
	.complete input{width:90%; margin-left:5%; margin-right: 5%; }
	.email div:last-child input:first-child{ width: 250px; }
	.email div:last-child input:last-child{ height: 32px; }
	.profile-box img{margin-left:25%;}
	.profilebtn{margin-left:28%;}
	.profile-box{width: 100%;}
}
