@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:100,300,400,500,700,900|Sunflower:300,500,700&subset=korean');
.menu-button {
	position: fixed;
	top: 300px;
	left: 0%;
	height: auto;
	display: none;
	z-index: 10;
}

.menu-button input {
	background-color: orange;
	border: none;
	height: 60px;
	width: 25px;
	color: white;
	font-weight: bold;
	
}
.main{
	width:800px;
}
.title-content input, .title-content textarea{
	padding-left:10px;
}

.introduce{
	font-size: 18px;
	border-top:2px solid #686565;
	margin-top:70px;	
	padding-top:30px;
}
.introduce div{
	display: flex;
	margin-top:15px;
	margin-left:20px;
}
.complete{
	margin-top: 50px;
	border-bottom:2px solid #686565;
	padding-bottom: 50px;
}
.complete input{
	height:50px;
	width:500px;
	border:none;
	margin-left:220px;
	background-color: #ffd632;
	color:white;
	font-weight: bold;
	border-radius: 8px;
}

.title-title{
	width:150px;
	font-size:23px;
	font-weight:bold;
	color:#686565;
	margin-right: 20px;	

}

.tech-add{
	margin-left:275px;
}
.introduce input, .introduce textarea{
	border-radius: 8px;
	border:1px solid #7f7f7f;
	width: 450px;
	height:40px;
}
.tech-add div:first-child input{
	margin-left:190px;
	padding-left:10px;
}
.tech-add div:last-child{
	margin-left:0px;
}
.tech-add div:last-child input{
	height:30px;
	width:30px;
	color:white;
	font-weight: bold;
	font-size: 18px;
	background-color:#7f7f7f;
	border:none;
	margin-top:05px;
	margin-left:5px;
	
	
}
.techroom{
	border-radius: 8px;
	border:1px solid #7f7f7f;
	width: 450px;
	min-height:200px;
}
.introtechnic{
	height: 30px !important;
	position: relative;
	cursor:default;
}
.close-button{
	border-radius: 100%;
	cursor:pointer;
	width:20px;
	height: 20px;
	background-color: gray;
	color:white;
	font-weight: bold;
	text-align:center;
	line-height:22px;
	position: absolute;
	top:-10px;
	left:45px;
}
.techname{
	min-width: 50px;
	text-align:center;
	border:1px solid black;
	border-radius: 8px;
}
.title-content textarea{
	height:200px;
}
@media ( max-width :480px) {
	.mobile-block{display: block;} 
	.content, .main, .introduce{width: 100%; margin-top: 30px;}
	.title, .content, .tech{display: unset !important; width: 100%;}
	.title-title{margin-left: 0px !important;}
	.introduce div{display:inline-block;}
	.introduce input{width:320px;}
	.title, .content, .tech, .tech-add{width:100%;}
	.tech{display:block;}
	.techroom{width:90% !important;}
	.tech-add div:first-child{margin-left:0px !important;}
	.tech-add div:first-child input {margin-left:0px !important;padding-left: 0px !important; width: 300px;}
	.title-content textarea{width:320px;}
	.complete{width: 100%;}
	.complete input{margin-left: 0px; width: 90%; margin-left: 5%; margin-right: 5%;}
}

